<link href="/stylesheets/profile.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{{# if errors}}
    <div class="alert alert-danger">
        <ul>
            {{# each errors }}
                <li><h2>{{this.msg}}</h2></li>
            {{/each}}
        </ul>
</div>
    {{else}}
    {{# if existNewEmail}}

    <div class="alert alert-danger">
        <ul>
                <li><h2>New Email You Entered is Already Exist from another User</h2></li>
        </ul>
    </div>
    {{/if}}

{{/if}}

<div class="container">
    <div class="row">


        <div class="col-md-7 ">

            <div class="panel panel-default">
                <div class="panel-heading">  <h4 >Edit Profile</h4></div>
                <div class="panel-body">

                    <div class="box box-info">
                        <div class="box-body">
                            <form action="/users/upgradeProfile" method="post" enctype="multipart/form-data">
                            <div class="col-sm-6">
                                <div  align="center"> <img alt="User Pic" src="{{ user.profileImage}}" id="profile-image1" class="img-circle img-responsive">

                                    <input id="profile-image-upload" class="hidden" type="file" name="profileImage" value="kjkjk">
                                    <div style="color:#999;" >click here to change profile image</div>
                                    <!--Upload Image Js And Css-->
                                </div>
                                <br>
                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;">{{user.firstName}} {{user.lastName}}</h4></span>
                                <span><p>{{user.role}}</p></span>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">
                            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"
                                   value="{{user.firstName}}"></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7">
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
                                   value="{{user.lastName}}" ></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Email Address:</div><div class="col-sm-7">
                            <input type="text" class="form-control" id="email" placeholder="Email Address" name="email"
                                   value="{{user.email}}"></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Mobile Number:</div><div class="col-sm-7">
                            <input type="number" class="form-control" id="mobile" placeholder="07x xxxx xxx" name="mobile"
                                   value="{{user.mobile}}">
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Role:</div><div class="col-sm-7">{{user.role}}</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >
                                <button type="submit" class="btn btn-info active" name="submit" value="Update"
                                        onclick="return confirm('Are You Sure ' +
                         'You Want To Upgrade Your Profile..!');">Upgrade Profile</button>
                            </div><div class="col-sm-7"><a href="/users/viewProfile" class="btn btn-default active">Cancel</a></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            </form>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>


                </div>
            </div>
        </div>
        <script>
            $(function() {
                $('#profile-image1').on('click', function() {
                    $('#profile-image-upload').click();
                });
            });
        </script>
    </div>
</div>

