<div class="container marketing">

    <div class="row">
    {{# each result }}
        <div class="col-lg-4">
            <img class="img-rounded" src="{{this.productImage}}" alt="Generic placeholder image" width="140" height="140">
            <h2>{{this.name}}</h2>
            <p><label for="formGroupPrice">Price(LKR): &nbsp</label>{{this.price}}</p>
            <p><label for="formGroupQuantity">Sales Left: &nbsp</label>{{this.quantity}}</p>
            <p><a class="btn btn-primary" href="/products/viewPhoto{{this.productImage}}" role="button">View Photo &raquo;</a></p>
        </div>
    {{/each}}
    </div>
</div>