{{# if success }}
    <div class="alert alert-success">
        <h2>Successful Registration!</h2>
    </div>
    {{ else }}
    {{# if errors}}
        <div class="alert alert-danger">
            <ul>
                {{# each errors }}
                    <li><h3>{{this.msg}}</h3></li>
                {{/each}}
            </ul>
    {{ else }}
            <div class="alert alert-danger">
                <ul>
                        <li><h3>Email Already Exist</h3></li>
                </ul>
        </div>
        {{/if}}
    <hr>
    <div class="container">
        <form action="/submit" method="post">
            <div class="row">
                <div class="form-group col-xs-6">

                    <label for="exampleInputFirstName">First Name</label>
                    <input type="text" class="form-control" value="{{userDetail.firstName}}" id="firstName" placeholder="First Name" name="firstName">
                    <label for="exampleInputLastName">Last Name</label>
                    <input type="text" class="form-control" value="{{userDetail.lastName}}" id="lastName" placeholder="Last Name" name="lastName">
                    <label for="exampleInputEmailAddress1">Email Address</label>
                    <input type="text" class="form-control" value="{{userDetail.email}}" id="email" placeholder="Email Address" name="email">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    <label for="exampleInputPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">
                    <label for="examplePhoneNumber">Mobile</label>
                    <input type="number" class="form-control" value="{{userDetail.mobile}}" id="mobile" placeholder="07x xxxx xxx" name="mobile">
                    <input type="hidden" class="form-control" id="role" name="role" value="Customer">
                </div>
            </div>

            <button type="submit" class="btn btn-success" name="submit" value="Confirm">Register Now</button>

        </form>

    </div>
    {{/if}}

</div><!-- /.container -->
